@import "tailwindcss";
@plugin "daisyui";

@layer base {
  html {
    font-family: 'Poppins', sans-serif;
  }

  /* DaisyUI theme override */
  :root {
    --rounded-box: 1rem; /* default border radius for cards etc */
    --rounded-btn: 0.5rem;
    --rounded-badge: 1.9rem;

    --color-primary: #57663b; /* buttons, accents */
    --color-primary-content: #ffffff; /* text on buttons */

    --color-secondary: #8fa172; /* optional accents */
    --color-secondary-content: #ffffff;

    --color-accent: #a3b18a; /* small highlights */
    --color-accent-content: #ffffff;

    --color-neutral: #eceede; /* backgrounds */
    --color-base-100: #eceede;
    --color-base-200: #d7dbc7;
    --color-base-300: #c3c7b1;

    --color-info: #4d7c55;
    --color-success: #68a45e;
    --color-warning: #d1b659;
    --color-error: #b35c5c;

    --color-base-content: #232323; /* default text */
  }
}

/* Optional: hero/footer quick classes */
.hero {
  background-color: #3c4a12; /* dark olive */
  color: #eceede; /* text on hero */
}

.footer {
  background-color: #3c4a12;
  color: #eceede;
}
